@import 'vendors/_bootstrap.scss';

/* Variables */

$primary-color: #3b5a76;
$background-color: #778899;
$text-color: #363636;
$font: 18px;

body{
	padding-bottom:0;
	font-family: 'Open Sans', Arial, Tahoma;
	color: $text-color;
	background: $background-color;
	font-size: $font;
}

h2 {
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.4em;
	font-size: 1.5em;
}
.primary, strong, h2 {
	color: $primary-color
}

.container-main {
	background: white;
	margin-top: 80px; 
	padding: 0px 30px 30px 30px
}

header {
	min-height: 100px;
	overflow: auto;
}
header h1 {
	margin: 0px;
	padding: 20px 0 0 0; 
	font-size: 2.2 em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
	text-align: center;
	line-height: 1.4em
}
.profile-img {
	width: 160px; 
	display: block;
	margin: auto; 
	margin-top: -80px;
}
.line {
	max-width: 100%;
}